.slogan {
    color: $primary;
    font-size: 20px;
    line-height: 1.47;
    font-weight: bold;
    font-family: 'Commissioner', sans-serif;

    // &-wrap {
    //     background: linear-gradient(to bottom, #59B847, #0DB4D7);
    //     -webkit-background-clip: text;
    //     -webkit-text-fill-color: transparent;
    // }


    @include respond-above(md) {
        font-size: 24px;
    }

    @include respond-above(lg) {
        font-size: 28px;
    }

    @include respond-above(xl) {
        font-size: 32px;
    }

    &--sub {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.67;
        color: $secondary;
        font-family: 'Commissioner', sans-serif;

        @include respond-above(md) {
            font-size: 22px;
        }

        @include respond-above(lg) {
            font-size: 26px;
        }

        @include respond-above(xl) {
            font-size: 28px;
        }
    }

    &--desc {
        font-size: 16px;

        @include respond-above(md) {
            font-size: 18px;
        }

        @include respond-above(lg) {
            font-size: 20px;
        }

        @include respond-above(xl) {
        }
    }
}

.status {
    @include respond-below(md) {
        font-size: 0;
        text-align: center;
    }
}

.text {
    font-size: 18px;
    line-height: 1.5em;

    @include respond-above(md) {
        font-size: 20px;
    }

    // @include respond-above(lg) {
    //     font-size: 22px;
    // }

    // @include respond-above(xl) {
    //     font-size: 24px;
    // }
}

.btn-sm {
    @include respond-below(md) {
        font-size: 0.75rem;
        padding: 0.25rem;
    }
}

.dropdown-menu.bg-dark {
    &>a {

        &:hover,
        &:focus {
            background-color: rgba(white, 0.3);
        }
    }
}

@keyframes colorPulse1 {
    from {
        color: $primary;
    }

    to {
        color: $secondary;
    }
}

@keyframes colorPulse2 {
    from {
        color: $secondary;
    }

    to {
        color: $primary;
    }
}